<div class="row tile_count">
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Pass Attempts</span>
            <div class="count">{{recentWeekStats.Att}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Pass Completions</span>
            <div class="count">{{recentWeekStats.Cmp}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Pass Interceptions</span>
            <div class="count red">{{recentWeekStats.Int}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Passing Yards</span>
            <div class="count">{{recentWeekStats.PsYds}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Pass Touchdowns</span>
            <div class="count">{{recentWeekStats.PsTD}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>
    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
        <div class="left"></div>
        <div class="right">
            <span class="count_top"><i class="fa fa-user"></i> Rushing Yards</span>
            <div class="count">{{recentWeekStats.RshYds}}</div>
            <span class="count_bottom">Week <i class="green">{{recentWeekStats.week}} </i> against {{recentWeekStats.opponent}} </span>
        </div>
    </div>

</div>